.top-inside {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.5rem;
}

.filters-container {
    border: 0.1rem solid #D59C36;
    width: 25rem;
    padding-left: 1rem;
    padding-top: 0;
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent shrinking */
}

.subcategory {
    padding-left: 1rem;
    padding-top: 0;
}