.card-container {
    width: 15rem;
    height:15rem;
    border: 0.1rem solid #D59C36;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #141414;
    height: fit-content;
}

.image-container {
    width: 100%;
    height:100%;
    border-radius: 1rem 1rem 0 0;
}

.image {
    height:100%;
    width: 100%
}

.product-details {
    min-height:8rem;
    font-size: 1rem;
}

.title {
    margin: 5rem 5%;
}

.description {
    padding:0;
    margin: 0.5rem 5%;
    
}

.link {
    text-align: center;
    width: 100%;
    border-top: 0.1rem solid #D59C36;
    padding: 0.5rem;
    text-decoration: none;
    color:#D59C36;
    transition: 0.3s;
}

.link:hover{
    background-color:#D59C36;
    color: black;
}